
* {
  box-sizing: border-box;
}

body {
  font-family: "Baloo 2", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  margin-left: 80%;
}

header{
  display: grid;
  place-items: center;
  background-color: rgb(45, 57, 100);
  color: #fff;
  min-height: 110px;
  height: 8%;
}

/*header,*/
footer {
  display: grid;
  place-items: center;
  color: black;
  margin-bottom: 0;
  margin-left: 0;
}

@media only screen and (max-width: 800px) {
  footer p {
    font-size: 1.1rem;
  }
}

footer p {
  margin-left: 15%;
  font-size: 1.1rem;
}

main {
  padding: 1rem;
  max-width: 80ch;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}

#title {
  padding-top: 5%;
  color: rgb(114, 230, 28);
  padding-bottom: 1px;
  font-family: "Roboto Medium";
}

@media only screen and (max-width: 800px) {
  #signature {
    margin-bottom: 0;
    height: 10%;
  }
}

#signature {
  margin-left: 10%;
  margin-bottom: 0;
  height: 60%;
}
