
* {
  box-sizing: border-box;
}

.container {
  overflow: hidden;
}

body {
  font-family: "Baloo 2", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


footer {
  margin-top: auto;
  margin-left: 80%;
}

header{
  display: grid;
  place-items: center;
  background-color: rgb(45, 57, 100);
  color: #fff;
}

/*header,*/
footer {
  display: grid;
  place-items: center;
  color: black;
  margin-bottom: 0;
  margin-left: 0;
}

footer p {
  margin-top: -3%;
  margin-left: 20%;
  font-size: 1.1rem;
}

main {
  padding: 1rem;
  max-width: 80ch;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}

#title {
  color: rgb(114, 230, 28);
  margin-bottom: 0;
}

#signature {
  margin-top: -5%;
  margin-left: 20%;
  margin-bottom: 0;
  height: 70%;
}
