<mat-card id="container">
  <header>
    <h1 id="title">Nuvision</h1>
    <h3 id="title2">Construction & Development Inc.</h3>
  </header>
  <main>
    <img id="" title="Nuvision Construction" src="" alt="Nuvision Construction">
    <p>Nuvision Construction & Development Inc. believes in providing the best quality craftmanship through, client communication and transparency, Stringent quality control, and putting our clients best interests first.

      We embrace challenges and the ability to adapt to our clients needs.

      Thank you all for your continued support,

      “NuVision”  Making your Vision, a Reality!”

    </p>
  </main>
  <footer>
    <img id="signature" title="Nuvision Construction" src="../assets/shawnSignature.png" alt="Nuvision Construction">
  </footer>
</mat-card>
